{% extends 'base.html' %}
{% block meta %}
    <title>Athifah Mufidah - Portfolio</title>
{% endblock meta %}
{% block content %}
    <main>
        <section class="hero" id="profile">
            <div class="container hero-grid">
                <div class="hero-identity">
                    <p class="hero-kicker">System Information &middot; Universitas Indonesia</p>
                    <h1>Athifah Mufidah</h1>
                </div>
                <div class="hero-photo">
                    <img class="avatar" src="/static/img/pidoyy.jpg" alt="Photo of Athifah">
                </div>
                <div class="hero-details">
                    <p class="bio">Information Systems Student @ UI | Data Enthusiast, Tech Explorer & Business Analyst.</p>
                    <dl class="meta-list">
                        <div class="meta-row">
                            <dt>NPM</dt>
                            <dd>2506612045</dd>
                        </div>
                        <div class="meta-row">
                            <dt>Program</dt>
                            <dd>S1 Sistem Informasi</dd>
                        </div>
                    </dl>
                    <div class="social-links">
                        <a href="https://github.com/athifahfida" class="social-link">GitHub</a>
                        <a href="https://www.linkedin.com/in/athifah-mufidah/" class="social-link">LinkedIn</a>
                        <a href="mailto:athifah.fida@gmail.com" class="social-link">Email</a>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}